{% extends "base.html" %}
{% block title %}About EpiCollect {% endblock %}

{% block content %}
<H3>PLoS Paper</H3>
<P>For details, download the EpiCollect paper published
in the Public Library of Science in September 2009, as <a href="http://www.plosone.org/article/info:doi/10.1371/journal.pone.0006968">HTML</a>
or <a href="http://www.spatialepidemiology.net/epicollect.pdf">PDF</a>.

<a name="credits"><H3>Credits</H3>
<P>EpiCollect was developed at the <a href="http://www.imperial.ac.uk/medicine/dide">Department of Infectious Disease Epidemiology</a>
at <a href="http://www.imperial.ac.uk/">Imperial College London.</a></P>

<P>The system was conceived and designed by <a href="http://www1.ic.ac.uk/medicine/people/d.aanensen/">David Aanensen</a>.
The original Android app was written by <a href="http://www3.imperial.ac.uk/bioinfsupport/people/derek_huntley">Derek Huntley</a>.
The iPhone app and the Google App Engine server were written by <a href="http://www.pronoidandroid.com/">Jon Evans</a>.

{% endblock%}
