{% extends "base.html" %}
{% block title %}EpiCollect in the Media{% endblock %}

{% block content %}
<center><H3>EpiCollect in the Media</H3></center>

<UL>
    <LI><b>BBC News</b>: <a href="http://news.bbc.co.uk/2/hi/8258501.stm">Mobile app sees science go global</a>
    <LI><b>Science Blog</b>: <a href="http://www.scienceblog.com/cms/sending-science-down-phone-new-technology-will-map-research-across-world-25202.html">Sending science down the phone</a>
    <LI><b>Discover</b>: <a href="http://blogs.discovermagazine.com/discoblog/2009/09/16/new-mobile-app-lets-scientists-nab-data-anywhere-on-earth/">New mobile app lets scientists nab data anywhere on Earth</a>
    <LI><b>The Globe & Mail</b>: <a href="http://www.theglobeandmail.com/blogs/globe-on-technology/attention-citizen-scientists/article1291544/">Attention, Citizen Scientists</a>
</UL>
{% endblock%}
